$TEXT: #333333;

$PRIMARY: #212121;
$PRIMARY_LIGHT: #484848;
$PRIMARY_DARK: #000000;
$PRIMARY_TEXT: #FFFFFF;

$SECONDARY: #FAFAFA;
$SECONDARY_LIGHT: #FFFFFF;
$SECONDARY_DARK: #C7C7C7;
$SECONDARY_TEXT: #000000;
